.header {
	padding: 30px 0;
	margin-bottom: 10px;

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 25px;

		svg {
			font-size: 52px;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		column-gap: 40px;
	}

	&__title {
		font-family: "Fasthand", cursive;
		font-size: 52px;
		margin: 0;
	}

	&__logo {
		font-size: 38px;
		margin-right: 20px;
		cursor: pointer;

		:hover {
			color: tomato;
		}
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 10px 20px;
		min-width: 100px;
		background-color: transparent;
		border: none;
		font-size: 22px;
		border-radius: 10px;
		border: 1px solid;
		transition: all 0.2s ease 0s;
		cursor: pointer;
		text-transform: uppercase;
		line-height: 1;

		svg {
			margin-right: 10px;
			font-size: 36px;
			pointer-events: none;
		}

		@media (hover: hover) {
			&:hover {
				background-color: #333;
				color: #fff;
			}
		}
	}
}
