.header {
	padding: 30px 0;
	margin-bottom: 10px;

	&__top {
		display: flex;
		align-items: center;
		margin-bottom: 25px;

		span {
			font-family: 'Fasthand', cursive;
			font-size: 32px;
			padding-right: 20px;
			align-self: end;
			padding-bottom: 5px;

			strong {
				color: tomato;
				font-weight: 700;
			}
		}

		svg {
			font-size: 52px;

			@media (max-width: 768px) {
				font-size: 32px;
			}
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		column-gap: 40px;
	}

	&__title {
		font-family: 'Fasthand', cursive;
		font-size: 52px;
		margin: 0;
		margin-right: auto;

		@media (max-width: 768px) {
			font-size: 26px;
		}
	}

	&__logo {
		font-size: 38px;
		margin-right: 20px;
		cursor: pointer;

		@media (hover: hover) {
			:hover {
				color: tomato;
			}
		}
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 20px;
		min-width: 100px;

		font-size: 22px;
		line-height: 1;
		text-transform: uppercase;
		color: #fff;

		border-radius: 10px;
		border: 1px solid #fff;
		background-color: transparent;
		transition: all 0.2s ease 0s;
		cursor: pointer;

		@media (max-width: 768px) {
			font-size: 0;
			border: none;
			padding: 0;
			min-width: auto;
		}

		svg {
			margin-right: 10px;
			font-size: 36px;
			pointer-events: none;

			@media (max-width: 768px) {
				margin: 0;
				background-color: transparent !important;
			}
		}

		@media (hover: hover) {
			&:hover {
				color: tomato;
				// =======
				border-color: tomato;
			}
		}
	}
}

.formControl {
	transition: all 0 s ease 0s;

	fieldset {
		border-color: white;
		border-radius: 10px;
	}

	svg {
		color: white;
	}

	&:hover {
		.label {
			color: tomato;
		}
		svg {
			color: tomato;
		}
		fieldset {
			border-color: tomato;
		}
	}
}
