body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root,
body {
  height: 100%;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 980px;
  margin: 0px auto;
}

.header {
  padding: 20px 0;

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__title {
    font-family: "Fasthand", cursive;
    font-size: 34px;
    margin: 0;
  }

  &__logo {
    font-size: 38px;
    margin-right: 20px;
    cursor: pointer;

    :hover {
      color: tomato;
    }
  }
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer {
  text-align: center;
  background-color: #e58825;
}
